#btneditar {
  background-color: #3cb371;
  border: 2px solid transparent;
  border-radius: 15px;
  margin-left: 15%;
  width: 35%;
  margin-top: 20px;
}

#btneliminar {
  background-color: #3cb371;
  border: 2px solid transparent;
  border-radius: 15px;
  margin-left: 15%;
  width: 35%;
  margin-top: 20px;
}

.table{
  width: 90%;
  margin-left: 5%;
}

